<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Uprava.NET.Properties.Settings.piDB1ConnectionString"
            connectionString="Data Source=161.53.120.217\VARAZDIN,1433;Initial Catalog=piDB1;Persist Security Info=True;User ID=PiTim1_4;Password=ichmag333"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>